@page
@model DT102G_moment1.Pages.AboutModel
@{
    ViewData["Title"] = "Om";
}

<div class="content-wrapper">
    <h1>Om mig</h1>
    <p>Hej där! Jag heter Sandra och jag läser Webbutveckling på Mittunversitetet. Jag har läst i ett och ett halvt år och till sommaren har ja gått klart min utbildning. Jag började intressera mig för IT och programmering när jag började jobba i IT branschen. Jag har sedan tidigare läst Personalvetarprogrammet och sedan min examen har jag arbetat med rekrytering inom IT branschen. Innan jag började arbeta i IT branschen visste jag inte så mycket om IT och hade ingen aning om att det kunde vara så kul att programmera, så jag är väldigt glad att jag av en slump hamnade i branschen eftersom det är det som har lett till att jag läser det jag gör idag.</p>
    <p>Om du vill veta mer om mig kan du titta in på min portfolio: <a target="_blank" href="http://studenter.miun.se/~saan1906/writeable/dt173g/CV_project/publish">Länk till portfolio</a></p>

</div>